<!DOCTYPE html>
<html lang="vi-VN">
    <head>
        <!--Page setup-->
        <meta charset ="utf-8">
        <!--Title of website-->
        <title>MLnews</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--icon-->
        <link rel="icon" type="image/png" href="image/icon.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--Stylesheet-->
        <!-- Reset default styles and add support for google fonts -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
        <!--Fonts-->
        <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!--CSS-->
        <link rel="stylesheet" href="../static/css/header.css" type="text/css">
        <link rel="stylesheet" href="../static/css/home.css" type="text/css">
        <!--Script-->
    </head>
<body>
    <div class="container">
        <div class="currency"> 
            <!--iframe src="https://www.vietcombank.com.vn/KHCN/Cong-cu-tien-ich/Ty-gia"height="500" width="100%" title="Iframe Example"></iframe-->
                <!-- Here a loader is created which
                loads till response comes -->
            <!--div class="d-flex justify-content-center">
                <div class="spinner-border"
                    role="status" id="loading">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <h1>Registered Employees</h1-->
            <!-- table for showing data -->
            <!--table id="currency"></table-->
            <div class="tradingview-widget-container" style="width: 100%;height: 1000px;">
                <div id="tradingview_417af" style="height: 1000px;"></div>
                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                <script type="text/javascript">
                    new TradingView.widget({
                        "autosize": true,
                        "symbol": "FX_IDC:USDVND",
                        "interval": "M",
                        "timezone": "Asia/Ho_Chi_Minh",
                        "theme": "Dark",
                        "style": "1",
                        "locale": "vi_VN",
                        "toolbar_bg": "#f1f3f6",
                        "enable_publishing": false,
                        "withdateranges": true,
                        "hide_side_toolbar": false,
                        "allow_symbol_change": true,
                        "details": false,
                        "studies": [
                            "PivotPointsHighLow@tv-basicstudies",
                            "RSI@tv-basicstudies",
                            "StochasticRSI@tv-basicstudies"
                        ],
                        "container_id": "tradingview_417af"
                    });
                </script>
            </div>
    </body>
        </div>
    </div>
    <script src="../static/js/Price.js"></script>
</body>