<!DOCTYPE html>
<html lang="vi-VN">
    <head>
        <!--Page setup-->
        <meta charset ="utf-8">
        <!--Title of website-->
        <title>MLnews</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--icon-->
        <link rel="icon" type="image/png" href="image/icon.png">
        <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <!--Stylesheet-->
        <!-- Reset default styles and add support for google fonts -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
        <!--Fonts-->
        <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="../static/css/header.css" type="text/css">
        <link rel="stylesheet" href="../static/css/home.css" type="text/css">
        <link rel="stylesheet" href="../static/css/Chatbot.css" type="text/css">
        <link rel="stylesheet" href="../static/css/ML_index.css" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <!--Script-->
        <style>
            #text{
              width: 50vh;
              height: 50vh;
              background-color: none;
              color: white;
              font-size: 1rem;
              text-align: center;
              vertical-align: middle;
            }
        </style>
    </head>
<body>
  <header class="header">
    <nav>
        <div class="logo">
            <img src="../static/img/logo.png" alt="Logo Image" height="100%">
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
            <li><a href="home">Trang chủ</a></li>
            <li><a href="finance">Thị trường</a></li>
            <!--li><a href="chatbot">Bot</a></li-->
            <li><a href="weather_forecast">Thời tiết</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="show_watch_later">Xem sau</a></li>
            <li><a href="update_info">Thông tin cá nhân</a></li>
            {% endif %}
            <li><div class="wrap">
              <div class="search" style="display: flex;">
                 <input type="text" class="searchTerm" id="input_search" placeholder="Tìm kiếm">
                 <button type="submit" class="searchButton" id="submit_search" onclick="Search_news()"><i class="fa fa-search"></i></button>
              </div>
              </div></li>
            {% if request.user.is_authenticated %}
            <li>Hello, <text id="fname"></text><text id="lname"></text></li>
            <li><a class="login-button" href="{% url 'logout' %}">Đăng xuất</a></li>
            {% else %}
            <li><a class="login-button" href="{% url 'login' %}">Login</a></li>
            <li><a class="join-button" href="{% url 'signup' %}">Sign up</a></li>
            {% endif %}
            {% if user.is_superuser %}
            <li><a class="login-button" href="{% url 'dashboard' %}">Dashboard</a></li>
            {% endif %}
        </ul>
    </nav>
  
      <!-- <a href="" class="logo col-2">NEWS</a>
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      <ul class="menu col-10" style="justify-content: center;">
          <li class="col-2"><a href="home">home</a></li>
          <li class="col-2"><a href="finance">Price</a></li>
          <li class="col-2"><a href="chatbot">Bot</a></li>
          <li class="col-2"><a href="show_watch_later">Watch later</a></li>
          <li class="col-2"><form id="form_search" onsubmit="event.preventDefault();" role="search">
            <input id="input_search" type="search" placeholder="Search..." autofocus required style="width: 70%;"/>
            <button id="submit_search" type="submit" onclick="Search_news()" style="width: 30%;">Go</button>    
          </form></li>
          
          <li class="col-2" style="float: right;">
            <div class="head-social-link row">
              {% if request.user.is_authenticated %}
              <p class = "col">{{ request.user.username }}</p>
              <a class = "col" href="{% url 'logout' %}">Logout</a>
              {% else %}
              <a class = "col" href="{% url 'login' %}">Login</a>
              <a class = "col" href="{% url 'signup' %}">Signup</a>
          </div>
          </li>
          {% endif %}
      </ul>
      
      Search -->
      
    </header>

<div class="" style="z-index: 20; display: flex; margin:0 auto 0px auto; top:100px; height: 1000px;" >
    <div style=" width: 80%;display: flex; margin: auto; position: relative;" class="content">
        <div class="searching_topic col-2" style="width: 100px;">
            <div class="searching_topic_item" onclick="Show_topic_content('tin_moi')">Tin mới</div>
            <div class="searching_topic_item" onclick="Show_topic_content('thoi_su')">Thời sự</div>
            <div class="searching_topic_item" onclick="Show_topic_content('the_gioi')">Thế giới</div>
            <div class="searching_topic_item" onclick="Show_topic_content('kinh_te')">Kinh tế</div>
            <div class="searching_topic_item" onclick="Show_topic_content('doi_song')">Đời sống</div>
            <div class="searching_topic_item" onclick="Show_topic_content('suc_khoe')">Sức khỏe</div>
            <div class="searching_topic_item" onclick="Show_topic_content('giao_duc')">Giáo dục</div>
            <div class="searching_topic_item" onclick="Show_topic_content('the_thao')">Thể thao</div>
            <div class="searching_topic_item" onclick="Show_topic_content('du_lich')">Du lịch</div>
            <div class="searching_topic_item" onclick="Show_topic_content('xe')">Xe</div>
            <div class="searching_topic_item" onclick="Show_topic_content('giai_tri')">Giải trí</div>
        </div>

        <div class="searching_content col-10 list_news" style="background-color: aqua; margin-top:0px; width: calc(95% - 100px); min-width: 300px;">
        </div>
    </div>
</div>

    <!--Chatbot-->
    <div class="chatbot_container" style="right: 0px; bottom: 30px; position: fixed;z-index: 22; max-width: 100px;max-height: 100px;">
        
        <img src="../static/img/bot.png" width="100" onclick="openForm()">

        <div class="popup_chat" id="popup_chat" style=" display: none; position: fixed; bottom: 0px; right:30px; width: 300px;">
            <!--iframe src="../templates/Chatbot.html" height="500px" width="500px"></iframe-->
            <section class="msger" style="">
                <header class="msger-header">
                  <div class="msger-header-title">
                    <i class="fas fa-bug"></i> Chatbot <i class="fas fa-bug"></i>
                    <i class="fa-solid fa-xmark" onclick="closeForm()" style="float: right;"></i>
                  </div>
                </header>
            
                <main class="msger-chat">
                  <div class="msg left-msg">
            
                    <div class="msg-bubble">
                      <div class="msg-info">
                        <div class="msg-info-name">Chatbot</div>
                      </div>
            
                      <div class="msg-text">
                        Xin chào, tôi là MLnews chatbot. Tôi có thể giúp gì cho bạn? 😄
                      </div>
                    </div>
                  </div>
            
                </main>
            
                <form id="msger-chat" class="msger-inputarea" method="GET">
                  {% csrf_token %}
                  <input type="text" class="msger-input" id="BotContent" name="BotContent" placeholder="Enter your message...">
                  <input type="submit" class="msger-send-btn"></input>
                </form>
                <div id="alert" style="display:none;"></div>
              </section>
          </div>

    </div>
</body>
<script src="../static/js/header.js"></script>
<script src="../static/js/Searching.js"></script>
<script src="../static/js/ML_index.js"></script>
</html>